<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to </title>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
<body>
<div id="body" class="container-fluid">



{% block content %}{% endblock %}



</div> <!-- end container -->

<script>
function getmeaning(word, wordboxid) {
    $.post('/getmeaning', {
        word: word
    }).done(function(gotmeaning) {
        console.log(gotmeaning['meaning']);
        $(wordboxid).text(gotmeaning['meaning']);
    }).fail(function() {
        console.log(word);
        $(wordboxid).text('error');
    });
}
</script>


</body>
</html>
