<html>
    <head>
        <title>Welcome to WordSolver</title>
    </head>
<body>

<h1>Welcome to WordSolver</h1>

<h2>Enter a word</h2>
<p>Represent unknown letters with '?', for example: '?ye'</p>
<form action="/" method="POST">
    The target word: <input type="text" name="target">
    <br/>
    The clue: <input type="text" name="clue">
    <br/>
    <input type="submit">
</form>

<h2>Results for {{ target }} </h2>

<h3>Possible matches:</h3>

{% for word in ordered_matches %}
  <div class="word-result">
  <b> {{ word }} </b>
  <!-- <p> definition: {{ matches_and_meanings[word][0] }} </p> -->
  {% for meaning in matches_and_meanings[word] %}
    <p> {{ meaning }} </p>
  {% endfor %}


  </div>
{% endfor %}


</body>
</html>
