<html>
    <head>
        <title>Welcome to WordSolver</title>
    </head>
<body>

<h1>Welcome to WordSolver</h1>

<h2>Enter a word</h2>
<p>Represent unknown letters with '?', for example: '?ye'</p>
<form action="/" method="POST">
    The target word: <input type="text" name="target">
    <br/>
    The clue: <input type="text" name="clue">
    <br/>
    <input type="submit">
</form>

<h2>Results for {{ target }} </h2>

<h3>Best matches:</h3>
<ul>
{% for word in good_matches %}
  <li><b> {{ word }} </b> <br> {{ matches_and_meanings[word] }} </li>
{% endfor %}
</ul>

<h3>Other matches:</h3>
<ul>
{% for word in matches_and_meanings.keys() if word not in good_matches %}
  <li><b> {{ word }} </b> <br> {{ matches_and_meanings[word] }} </li>
{% endfor %}
</ul>

</body>
</html>
